<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Perfil</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contenido -->
<div class="container-fluid">
<div class="row">
    <div class="col-lg6 mt-5 ml-2">
        <div class="boderline submit_btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
            <h3>Solicitudes Recibidas</h3>
        </div>
    </div>
</div>
<div class="service_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s" >
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Graphic design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" href="perfilva" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Web design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" href="perfilva" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" href="perfilva" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur .</p>
                    <a class="boxed-btn3" href="perfilva" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" href="perfilva" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" href="perfilva" >Revisar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg6 mt-5 ml-2">
        <div class="boderline submit_btn wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
            <h3>Solicitudes Aceptadas</h3>
        </div>
    </div>
</div>
<div class="service_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Graphic design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Web design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur .</p>
                    <a class="boxed-btn3" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" >Revisar</a>
                </div>
            </div>
            <div class="col-xl-2 col-md-2">
                <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3>Mobile app</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                    <a class="boxed-btn3" >Revisar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


