.login-block{
	background: url(../../../assets/img/bglogin.jpg) no-repeat left bottom ;
	/*background: linear-gradient(to bottom, #FFB88C, #DE6262);*/
	float:left;
	width:100%;
	padding : 50px 0;
	height: 100vh;
}
.bglogin{
	background-image: url(../../../assets/img/bglogin.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	min-width: 100vh;
}
.banner-sec{
	background: url(../../../assets/img/bglogin.jpg) no-repeat left bottom;
	background-size:cover;
	min-height:500px;
	border-radius: 0 10px 10px 0;
	padding:0;
}
.pt-50{
	padding-top: 150px ;
}
.container{
	background:#00000071;
	border-radius: 10px;
	box-shadow: 13px 13px 17px -4px rgba(0,0,0,0.75);
}
.carousel-inner{
	border-radius:0 10px 10px 0;
}
.carousel-caption{
	text-align:left;
	left:5%;
}
.login-sec{
	padding: 50px 30px;
	position:relative;
}
.login-sec .copy-text{
	position:absolute;
	width:80%;
	bottom:20px;
	font-size:13px;
	text-align:center;
}
.login-sec .copy-text i{
	color:#8C0A36;
}
.login-sec .copy-text a{
	color:#8C0A36;
}
.login-sec h2{
	margin-bottom:30px;
	font-weight:800;
	font-size:30px;
	color: #8C0A36;
}
.login-sec h2:after{
	content:" ";
	width:100px;
	height:5px;
	background:#8C0A36;
	display:block;
	margin-top:20px;
	border-radius:3px;
	margin-left:auto;
	margin-right:auto
}
.btn-login{
	background: #8C0A36;
	color:#fff;
	font-weight:600;
}
.banner-text{
	width:70%;
	position:absolute;
	bottom:40px;
	padding-left:20px;
	color: rgb(0, 0, 0);
}
.banner-text h2{
	color:rgb(0, 0, 0);
	font-weight:600;
}
.banner-text h2:after{
	content:" ";
	width:100px;
	height:5px;
	background:#FFF;
	display:block;
	margin-top:20px;
	border-radius:3px;
}
.banner-text p{
	color:rgb(0, 0, 0);
}
.pt-70{
	padding-top: 100px;
}