<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Evaluaciones</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contenido -->
<div class="container-fluid bg-white" id="wrap">
<div class="row">
    <div class="col-lg-6 mt-5 ml-2">
        <div class="boderline submit_btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
          
        </div>
    </div>
</div>
<!----->
<div class="row">
   <!-- <div class="col-lg-2 col-md-3">
        <button class="boxed-btn3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
    </div>
    <div class="col-lg-2 col-md-3">
        <button class="boxed-btn3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
    </div>
    <div class="col-lg-2 col-md-3">
        <button class="boxed-btn3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
    </div>-->
    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="evaluacion1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Evaluacion Intermedia</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3 class="aling-items-center">Para la evaluacion 1</h3>
      <div class="section-top-border">
        <div class="button-group-area ">
            <a href="#" class="genric-btn primary-border"><i class="fas fa-download"></i>Descargar ficha para evaluacion</a>
            <a href="#" class="genric-btn primary-border"><i class="fas fa-cloud-upload-alt"></i>Cargar ficha para evaluacion</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="genric-btn info radius" data-dismiss="modal">Close</button>
      <button type="button" class="genric-btn success radius">Enviar</button>
    </div>
  </div>
</div>
</div>
<!--Modal 2-->
<div class="modal fade" id="evaluacion2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Evaluacion Final</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3 class="aling-items-center">Para la evaluacion 2</h3>
      <div class="section-top-border">
        <div class="button-group-area ">
            <a href="#" class="genric-btn primary-border"><i class="fas fa-download"></i>Descargar ficha para evaluacion</a>
            <a href="#" class="genric-btn primary-border"><i class="fas fa-cloud-upload-alt"></i>Cargar ficha para evaluacion</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="genric-btn info radius" data-dismiss="modal">Close</button>
      <button type="button" class="genric-btn success radius">Enviar</button>
    </div>
  </div>
</div>
</div>
<!--Modal 3-->
<div class="modal fade" id="evaluacionemp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Evaluacion De la Empresa</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3 class="aling-items-center">Para la evaluacion de la empresa</h3>
      <div class="section-top-border">
        <div class="button-group-area ">
            <a href="#" class="genric-btn primary-border"><i class="fas fa-download"></i>Descargar ficha para evaluacion</a>
            <a href="#" class="genric-btn primary-border"><i class="fas fa-cloud-upload-alt"></i>Cargar ficha para evaluacion</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="genric-btn info radius" data-dismiss="modal">Close</button>
      <button type="button" class="genric-btn success radius">Enviar</button>
    </div>
  </div>
</div>
</div>
<!--End modal-->
</div>

<div class="progress-table-wrap mt-1">
  <div class="progress-table">
    <div class="table-head">
      <div class="serial">#</div>
      <div class="country">Codigo de Estudiante</div>
      <div class="visit">Nombres</div>
      <div class="percentage">Evaluaciones</div>
    </div>
    <div class="table-row">
      <div class="serial">01</div>
      <div class="visit">201911726</div>
      <div class="percentage">Mario Ccallo Luque
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
    <div class="table-row">
      <div class="serial">02</div>
      <div class="visit">201911726</div>
      <div class="percentage">Juan David Gutierrez
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
    <div class="table-row">
      <div class="serial">03</div>
      <div class="visit">201911726</div>
      <div class="percentage">Gaspar Carretero
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
    <div class="table-row">
      <div class="serial">04</div>
      <div class="visit">201911726</div>
      <div class="percentage">Karim Orellana
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
    <div class="table-row">
      <div class="serial">05</div>
      <div class="visit">201911726</div>
      <div class="percentage">Abdeslam Zaragoza
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
    <div class="table-row">
      <div class="serial">06</div>
      <div class="visit">201911726</div>
      <div class="percentage">Luis Javier Tejada
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
    <div class="table-row">
      <div class="serial">07</div>
      <div class="visit">201911726</div>
      <div class="percentage">Jose Francisco Rio
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
    <div class="table-row">
      <div class="serial">08</div>
      <div class="visit">201911726</div>
      <div class="percentage">Alex Jossimar Kispiela
      </div>
      <div>
        <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion1" type="button">Evaluacion 1</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacion2" type="button">Evaluacion 2</button>
      <button class="boxed-btn3 mr-3"  data-toggle="modal" data-target="#evaluacionemp" type="button">Evaluacion Emp</button>
      </div>
    </div>
  </div>
</div>
</div>
