<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 slider_bg_2 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-10 col-md-10">
                    <div class="slider_text">
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s"> 
                            Asegura tu futuro profesional
                            Practicas Pre Profesionales 2020
                        </h3>
                        <a class="boxed-btn3 wow fadeInLeft"  data-wow-duration="1s" data-wow-delay=".2s" href="estudiante/perfil">Inicia tus practicas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center ">
                    <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" >Inicia tus practicas</span>
                    <h3 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">Cada paso para iniciar tus practicas 
                        mucho mas rapido</h3>
                </div>
            </div>
        </div>
        <div class="portfolio_image_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-lg-4">
                        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="portfolio_thumb">
                                <img src="../../../assets/img/soli1.jpg" alt="">
                            </div>
                            <div class="portfolio_hover">
                                <div class="title">
                                    <span>Paso 1</span>
                                        <h3>Solicita tu carta de presentacion</h3>
                                        <a class="boxed-btn3" href="estudiante/solicitudcp">Solicitar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-lg-4">
                        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <div class="portfolio_thumb">
                                <img src="../../../assets/img/soli2.jpg" alt="">
                            </div>
                            <div class="portfolio_hover">
                                <div class="title">
                                    <span>Paso 2</span>
                                        <h3>Espera tu validacion</h3>
                                        <a class="boxed-btn3" href="estudiante/perfil">Revisar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-lg-4">
                        <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                            <div class="portfolio_thumb">
                                <img src="../../../assets/img/soli3.jpg" alt="">
                            </div>
                            <div class="portfolio_hover">
                                <div class="title">
                                    <span>Paso 3</span>
                                        <h3>Registra tu carta de aceptacion</h3>
                                        <a class="boxed-btn3" href="regca">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>