<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
          <div class="container-fluid p-0">
              <div class="row align-items-center no-gutters">
                  <div class="col-xl-2 col-lg-2">
                      <div class="logo-img">
                          <a routerLink="administrador">
                              <img src="assets/img/diferencia.png" class="img-fluid" alt="">
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-8 col-lg-8">
                      <div class="main-menu  d-none d-lg-block text-center">
                          <nav>
                              <ul id="navigation">
                                  <li><a class="active" routerLink="home">PPP</a></li>
                                  <li><a routerLink="empresa">Solicitudes</a></li>
                                  <li><a href="Portfolio.html">Informes</a></li>
                                  <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                      <ul class="submenu">
                                          <li><a href="portfolio_details.html">Portfolio details</a></li>
                                          <li><a href="about.html">about</a></li>
                                          <li><a href="elements.html">elements</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="mobile_menu d-block d-lg-none"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

  <router-outlet></router-outlet>


