<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text animate__animated animate__slideInLeft">
                    <h3>Perfil</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-5 ml-5">
    
    </div>
    <div class="row">
        <div class="col-lg6 mt-3 ml-2">
            <div class="boderline submit_btn animate__animated animate__slideInUp" data-wow-duration="2s" data-wow-delay="1s">
                <h3>Mis solicitudes</h3>
            </div>
        </div>
        <div class="col-lg-3 ">
            <div class="submit_btnanimate__animated animate__slideInUp" data-wow-duration="1s" data-wow-delay=".7s">
                <a class="boxed-btn3" href="estudiante/solicitudcp">Nueva Solicitud</a>
            </div>
        </div>
    </div>
    <div class="service_area animate__animated animate__slideInUp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h3>The Syrens</h3>
                        <p>27/07/2020</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h3>Porefone</h3>
                        <p>27/07/2020</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <div class="icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h3>Rzer</h3>
                        <p>27/07/2020</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <div class="icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h3>Credicoop</h3>
                        <p>27/07/2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg6 mt-5 ml-2">
            <div class="boderline submit_btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">
                <h3>Practicas Realizadas</h3>
            </div>
        </div>
    </div>
    <div class="service_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h3>Lutex</h3>
                        <p>Desarrollo WEb</p>
                        <p class="hours">150 Horas</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h3>Mollyz</h3>
                        <p>Redes</p>
                        <p class="hours">200 Horas</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <div class="icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h3>DireSac</h3>
                        <p>Desarrollo de App</p>
                        <p class="hours">300 Horas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>