
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Perfil</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-5 ml-5">
    <div class="col-lg-3 ">
        <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
            <a class="boxed-btn3" href="estudiante/solicitudcp">Nueva Solicitud</a>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg6 mt-5 ml-2">
            <div class="boderline submit_btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
                <h3>Mis solicitudes</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg6 mt-5 ml-2">
            <div class="boderline submit_btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">
                <h3>Practicas Realizadas</h3>
            </div>
        </div>
    </div>
        
    </div>